
body{
    background-color: blue;
}



.container{
    width: 40%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-top: 10%;
    margin-left: 380px;
    background-color: rgb(247, 247, 248);
}
input{
    height:30px;
    width:60%;
}
button{
    width: 20%;
    height: 30px;
}

#todolist{
    /* background-color: red; */
}